
@model CompleteMvcCmsProject1.Areas.CmsAdmin.ViewModel.CustomerPageVM

@{

    ViewBag.Title = "Index";
}

<h2>Context Management Section</h2>
<div class="row" id="app">
    this is pdf
    <div class="table-responsive">
        <table class="table table-condensed">
            <tr>
                <th>
                    S.No.:
                </th>
                <th>
                    Name:
                </th>
                <th>
                    Gender:
                </th>
                <th>
                    Email:
                </th>
                <th>
                    Address:
                </th>
                <th>
                    BloodGroup:
                </th>
                <th>
                    QuillContent:
                </th>
                <th class="text-center">
                    Actions:
                </th>
            </tr>
            @foreach (var stdnt in Model.OurCustomers)
            {
                <tr>
                <td>
                    @stdnt.Id
                </td>
                <td>
                    @stdnt.FirstName @stdnt.LastName
                </td>
                <td>
                    @stdnt.Gender
                </td>
                <td>
                    @stdnt.Email
                </td>
                <td>
                    @stdnt.Address
                </td>
                <td>
                    @stdnt.BloodGroup
                </td>
                <td>
                    @stdnt.QuillContent
                </td>
                <td>
                    <span class="btn">
                        <a href="@string.Format("/CmsAdmin/AdminCms/details?id={0}", stdnt.Id)">Details</a>
                    </span>
                    <span class="btn">
                        <a href="@string.Format("/CmsAdmin/AdminCms/modify?id={0}", @stdnt.Id)">
                            @string.Format("Modify {0}", @stdnt.Id)
                        </a>
                    </span>
                    <span class="btn">
                        <a href="@string.Format("/CmsAdmin/AdminCms/delete?id={0}", stdnt.Id)">Delete</a>
                    </span>
                </td>
                </tr>
            }

         
        <tr  v-for="student in studentData">
            <td>
                {{student.Id}}
            </td>
            <td>
                {{student.FirstName}} {{student.LastName}}
            </td>
            <td>
                student.Gender
            </td>
            <td>
                student.Email
            </td>
            <td>
                student.Address
            </td>
            <td>
                student.BloodGroup
            </td>
            <td>
                student.QuillContent
            </td>
            
        </tr>

        </table>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    @{  var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
         var json = serializer.Serialize(Model.OurCustomers);
    }
        Vue.use(VeeValidate);
            new Vue({
                el:'#app',
                data: {
                    studentData: ' @Html.Raw(json) ' ,
                    message:"Hello from Vue.js using webpack."
                },
                mounted: function () {
                    console.log(this.studentData);
                }
        });
</script>
}