<ul style="list-style-type:none;">
    <li>@Html.ActionLink("News Portal Admin", "TypeAhead", "news", new { area = "newsportal" }, null)</li>
    <li>@Html.ActionLink("News Portal Admin", "typeaheadCostumeTemplate", "news", new { area = "newsportal" }, null)</li>
    <li>@Html.ActionLink("News Portal Admin", "typeaheadCostumeTemplatetry", "news", new { area = "newsportal" }, null)</li>
    <li>@Html.ActionLink("News Portal Admin", "typeaheadPrefetch", "news", new { area = "newsportal" }, null)</li>
    <li>@Html.ActionLink("News Portal Admin", "typeaheadRemote", "news", new { area = "newsportal" }, null)</li>
    <li>@Html.ActionLink("News Portal Admin", "multiselect", "practice", new { area = "newsportal" }, null)</li>
    <li>@Html.ActionLink("News Portal Admin", "multiselectvue", "practice", new { area = "newsportal" }, null)</li>
    <li>@Html.ActionLink("News Portal Admin", "VueDatatable", "practice", new { area = "newsportal" }, null)</li>
    <li>@Html.ActionLink("Photo Admin", "try1", "PhotoCms", new { area = "photosection" }, null)</li>
    <li>@Html.ActionLink("Photo Admin", "try2", "PhotoCms", new { area = "photosection" }, null)</li>
    <li>@Html.ActionLink("Photo Admin", "try3", "PhotoCms", new { area = "photosection" }, null)</li>
    <li>@Html.ActionLink("Photo Admin", "typeaheadCostumeTemplate", "PhotoCms", new { area = "photosection" }, null)</li>
</ul>
