@model CompleteMvcCmsProject1.Areas.PhotoSection.ViewModel.CreateVM

@{
    ViewBag.Title = "View Photo";
}
<hr>
<div class="row col-lg-offset-4 col-md-offset-4">
    
    <form action="/PhotoSection/PhotoCms/create" method="post" enctype="multipart/form-data">
        
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <label for="Id">Id:</label>
            </div>
            <div class="col-lg-4 col-md-4">
                @Model.Uploader.Id
            </div>
            <div class="col-lg-5 col-md-5">
                <a href="@string.Format("/PhotoSection/PhotoCms/modify?id={0}",Model.Uploader.Id)">Modify</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <label for="AdminName">Admin Name*</label>
            </div>
            <div class="col-lg-4 col-md-4">
                @Model.Uploader.AdminName
            </div>
            <div class="col-lg-5 col-md-5">
                <a href="/PhotoSection/PhotoCms/" >back</a>
            </div>
        </div>
        <div class="row form-group">
            <img src="@string.Format("/Image/{0}",Model.Uploader.PhotoName)" width="250" height="400" />
            <a href="@string.Format("/Image/{0}",Model.Uploader.PhotoName)" target="_blank"><div class="text-success">@Model.Uploader.PhotoName</div></a>
        </div>
    </form>
</div>