@model CompleteMvcCmsProject1.Areas.PhotoSection.ViewModel.ViewPhotoVM
@{
    int a = 0;
    int b = 0;
    int c = 0;
}

@section Styles{

    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
}

<div class="row ">

    @foreach (var photo in Model.PhotoList)
    {
        a++;
        @*<div class="col-lg-3 col-md-3 col-sm-3 thumbnail">
                <img src="@string.Format("/Image/{0}",photo.PhotoName)">
            </div>*@
        <div class="column thumbnail">
            <img src="@string.Format("/Image/{0}",photo.PhotoName)" onclick="openModal();currentSlide(@a)" class="hover-shadow cursor">
        </div>
    }
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        @foreach (var photo in Model.PhotoList)
    {
        b++;
        <div class="mySlides">
            <div class="numbertext">@b / @a</div>
            <img src="@string.Format("/Image/{0}",photo.PhotoName)" style="width:100%">
        </div>

}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <div class="caption-container">
            <p id="caption"></p>
        </div>
        @*@foreach (var photo in Model.PhotoList)
        {
            c++;
            <div class="column">
                <img class="demo cursor" src="@string.Format("/Image/{0}",photo.PhotoName)" style="width:10%" onclick="currentSlide(@c)" alt="Nature and sunrise">
            </div>

        }*@
    </div>

</div>

@section scripts{
    <script type="text/javascript">
        function openModal() {
            document.getElementById('myModal').style.display = "block";
        }

        function closeModal() {
            document.getElementById('myModal').style.display = "none";
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>
}