@model CompleteMvcCmsProject1.Areas.PhotoSection.ViewModel.ViewPhotoVM

@{

    ViewBag.Title = "Index";
}
@section Styles{

    <link href="~/Content/Photo.css" rel="stylesheet" />
}

<h2>Context Management Section</h2>
<div class="row" id="app">
    <div class="table-responsive">
        <table class="table table-condensed">
            <tr>
                <th>
                    S.No.:
                </th>
                <th>
                    Photo Name:
                </th>
                <th>
                    Admin Name:
                </th>
                <th>
                    Modified Date:
                </th>
                <th class="text-center">
                    Actions:
                </th>
            </tr>
            @foreach (var photo in Model.PhotoList)
            {
                <tr>
                    <td>
                        @photo.Id
                    </td>
                    <td>
                        @photo.PhotoName
                    </td>
                    <td>
                        @photo.AdminName
                    </td>
                    <td>
                        @photo.ModifiedDate
                    </td>
                    <td>
                        <span class="btn">
                            <a href="@string.Format("/PhotoSection/PhotoCms/details?id={0}",photo.Id)">Details</a>
                        </span>
                        <span class="btn">
                            <a href="@string.Format("/PhotoSection/PhotoCms/modify?id={0}",photo.Id)">
                                @string.Format("Modify {0}", photo.Id)
                            </a>
                        </span>
                        <span class="btn">
                            <a href="@string.Format("/PhotoSection/PhotoCms/deletePhoto?id={0}",photo.Id)">Delete</a>
                        </span>
                    </td>
                </tr>
            }
        </table>
    </div>
    <my-component aprop=" with static data"></my-component>
    <my-component :aprop="Dynamic"></my-component>
    <multiprop v-bind="todo"></multiprop>
</div>

@section scripts{
    <script type="text/javascript">
        Vue.component('multiprop', {
            props: ['isComplete', 'text'],
            template: '<div>A custom multiprop component!{{text}} {{isComplete}}</div>'
        })

        Vue.component('child', {
            // declare the props
            props: ['aprop'],
            // like data, the prop can be used inside templates and
            // is also made available in the vm as this.message
            template: '<span>{{ aprop }}</span>'
        })

        Vue.component('my-component', {
            props: ['aprop'],
            template: '<div>A custom component!{{aprop}}</div>'
        })
        Vue.use(VeeValidate);
        new Vue({
            el: '#app',
            data: {
                todo: {
                    text: 'Learn Vue',
                    isComplete: false
                },
                Dynamic:" dynamic data",
                message: "Hello from Vue.js using webpack."
            }
        });
    </script>
}